.button {
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #cab24cdb;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 4px #9f8413;
}
.button:hover {
  background-color: #cab24cdb;
}

.button:active {
  background-color: #ffa32ae3;
  box-shadow: 2px 4px 4px #666;
  transform: translateY(4px);
}

.form {
  min-width: 300px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #ecede3;
}

.form input {
  display: block;
  outline: none;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid rgb(187, 187, 187);
  text-align: left;
}
