.label {
  display: block;
  margin-top: 10px;
  color: rgba(14, 15, 15, 0.4);
  font-weight: 500;
  font-size: 18px;
}

input {
  display: block;
  outline: none;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid rgb(187, 187, 187);
  text-align: left;
}

.filter {
  width: 300px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #55b18e;
}
